global
    log stdout format raw local0 info
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    option  forwardfor
    option  http-server-close

frontend http_front
    bind *:80
    option  httplog

    acl is_api path_beg /api/
    use_backend union_backend if is_api
    default_backend union_frontend

backend union_backend
    option  httpchk GET /api/health
    server  backend backend:8000 check inter 10s

backend union_frontend
    server  frontend frontend:3000 check inter 10s
